In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
test1_feature = pd.read_table('Test1_features.dat', sep="::", header=None, names=['0', '1'])
test1_label = pd.read_table('Test1_labels.dat')

C:\Users\45115\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [57]:
test1_feature.head()

                                                   0   1
0  0.0026896,0.0026297,0.0027433,0.0025057,0.0027... NaN
1  0.0027187,0.0026167,0.0027373,0.0027149,0.0027... NaN
2  0.0030654,0.0026314,0.0027103,0.002841,0.00262... NaN
3  0.0028378,0.0028671,0.0025957,0.0027275,0.0027... NaN
4  0.0027146,0.0027433,0.0025057,0.002737,0.00279... NaN